<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
<h1 class="title">Schronisko Reksio i Klakier</h1>
<!--TODO Baner z logo i tytułem-->
<a href="/">Powrót do listy</a>
<h2 class="title">Dodaj zwierzaka do adopcji</h2>
<form action="/dodajZwierzaka" method="post" th:object="${animal}">
    <input name="name" placeholder="Nazwa" th:field="*{name}"><br>
    <input name="description" placeholder="Opis" th:field="*{description}"><br>
    <select th:field="*{category}" th:remove="all-but-first">
        <option th:each="category : ${categoryList}" th:text="${category}" th:value="${category}">.....</option>
        <option> koty</option>
        <option> inne</option>
    </select><br>
    <input name="imgUrl" placeholder="URL grafiki" th:field="*{imgUrl}"><br>
    <button type="submit">Dodaj zwierzaka</button>
</form>
</body>
</html>