
<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
    <!--<meta charset="UTF-8">-->
    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"-->
          <!--integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
    <!--<title></title>-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="${animal.getName()}"> </p>-->
<!--<p th:text="${animal.getDescription()}"> </p>-->
<!--<p th:text="${animal.getId()}"> </p>-->
<!--<form action="/edytujZwierzaka" method="post" th:object="${animal}">-->
    <!--<input name="name" placeholder="name" th:field="*{animal.setName}"><br>-->



    <!--&lt;!&ndash;<textarea name="description" placeholder="opis" th:field="*{description}"></textarea><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<select th:field="*{category}" th:remove="all-but-first">&ndash;&gt;-->
    <!--&lt;!&ndash;<option th:each="category: ${categoryList}" th:text="${category}" th:value="${category}">==</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option> koty</option>&ndash;&gt;-->
    <!--&lt;!&ndash;<option> inne</option>&ndash;&gt;-->
    <!--&lt;!&ndash;</select><br>&ndash;&gt;-->
    <!--&lt;!&ndash;<input name="imgUrl" placeholder="URL grafiki" th:field="*{imgUrl}"><br>&ndash;&gt;-->
    <!--<button type="submit">Dodaj zadanie</button>-->
<!--</form>-->
<!--&lt;!&ndash;<select th:field="*{category}" th:remove="all-but-first">&ndash;&gt;-->
<!--&lt;!&ndash;<option th:each="category: ${categoryList}" th:text="${category}" th:value="${category}">Jedzenie</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option> koty</option>&ndash;&gt;-->
<!--&lt;!&ndash;<option> inne</option>&ndash;&gt;-->
<!--&lt;!&ndash;</select><br>&ndash;&gt;-->
<!--&lt;!&ndash;<input name="imgUrl" placeholder="URL grafiki" th:field="*{imgUrl}"><br>&ndash;&gt;-->
<!--&lt;!&ndash;<button type="submit">Dodaj zadanie</button>&ndash;&gt;-->
<!--&lt;!&ndash;</form>&ndash;&gt;-->
<!--</body>-->
<!--</html>-->
