<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title></title>
</head>
<body>
<h1 class="title">Schronisko Reksio i Klakier</h1>
<!--TODO Baner z logo i tytułem-->
<a href="/">Powrót do listy</a>
<h2 th:text="${nameAnimal.name}"></h2>
<div>
    <p th:text="${nameAnimal}">Lorem Ipsum jest tekstem stosowanym jako przykładowy wypełniacz w przemyśle
        poligraficznym. Został po raz pierwszy użyty w XV w. przez nieznanego drukarza do wypełnienia tekstem próbnej
        książki. Pięć wieków później zaczął być używany przemyśle elektronicznym, pozostając praktycznie niezmienionym.
        Spopularyzował się w latach 60. XX w. wraz z publikacją arkuszy Letrasetu, zawierających fragmenty Lorem Ipsum,
        a ostatnio z zawierającym różne wersje Lorem Ipsum oprogramowaniem przeznaczonym do realizacji druków na
        komputerach osobistych, jak Aldus PageMaker</p>
</div>
</body>
</html>