<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Schronisko Reksio i Klakier</title>
    <!--TODO Baner z logo i tytułem-->
</head>
<body>
<h1 class="title">Schronisko Reksio i Klakier</h1>
<h2 class="title"> Zwierzaki szukające domu</h2>
<div>
    <h3 class="title-category">Kategorie</h3>
    <a href="/">Powrót do listy</a>
</div>
<div>
    <ul th:each="animal: ${animalsByCategory}">
        <li>
            <!--TODO jak wywołać metodę filtrowanie po kategory-->
            <a th:href="@{'/szczegoly?name=' +${animal.name}}"><img th:src="${animal.imgUrl}"/></a>
            <a th:href="@{'/szczegoly?name=' +${animal.name}}" th:text="${animal.name}"></a>
            <a th:href="@{'/szczegoly?name=' +${animal.name}}"><p th:text="${animal.description}"></p></a>

        </li>
    </ul>
</div>
</div>
</body>
</html>
